:root {
  --background: #ffffff;
  --foreground: #ffbbbb;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffd0d0;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  margin: 0;
 
}

body {
  background-image: url('../../public/assets/7425076.jpg');  
  background-size: cover;       
  background-position: center; 
  background-attachment: fixed;

  color: var(--foreground);
  background-color: var(--background);
   font-family: "Georgia", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
