

.leftBox {
    display: flex;
    flex-direction: column;
    align-items: center;
 /*    align-self: flex-start; */
    /*  flex-wrap: wrap; */
    max-width:40vw;
    min-width: none;
      gap: 40px;

    height: auto;

}

.rightbox {
  width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
   /*   align-self: flex-end; */
      gap: 40px;
  
}
.aboutContainer {
   margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
}

.aboutContainer h3 {
    margin-bottom: 10px;
}


.list {

    background-color: #ffc3c3;
    border: 3px solid #d98687;
    border-radius: 8px;
    box-shadow: 34 10px 10px rgba(0, 0, 0, 0.1);
    width: stretch;
    font-size: 130%;
    padding: 20px;
    padding-left: 30px;
    font-family: "Georgia", serif;
    font-weight: bold;

}
.list li {
    margin-left: 30px;
}


.textBox {
  
    background-color: #ffc3c3;
    border: 3px solid #d98687;
    border-radius: 8px;
    box-shadow: 34 10px 10px rgba(0, 0, 0, 0.1);
  
 
    width: stretch;
    font-size: 130%;
    padding: 20px;
    padding-left: 30px;
    font-family: "Georgia", serif;
    font-weight: bold;

}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.icon {

  font-size: 24px;
  margin-right: 15px;
  transition: color 0.2s ease;
}

.icon:hover {
  color: #8fb583; /* LinkedIn blue */
}


/* just experminetal stuff */

@keyframes myAnimation {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}

.box {
  width: 100px;
  height: 100px;
  position: relative;
  background-color: red;
  animation-name: myAnimation;
  animation-duration: 4s;
  animation-iteration-count: 3;
}
.box:hover {
    animation-play-state: paused;
}


