.input {
    width: 100%;
    height: auto;
    padding: 12px 20px;
    margin: 5px;
    /* box-sizing: border-box; */
    border: 2px solid #9a5e5e;
    border-radius: 4px;
    background-color: #f39898;
    font-size: 16px;
}

.inputContainer {
    background-color: #ddeebf;
    border: 5px solid #b3c393;
    border-radius: 8px;
    box-shadow: 34 10px 10px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    width: 100%; 
     justify-content: center;
    max-width: 100%;
    display: flex;
    flex-direction: Column;
    align-items: center;
      font-weight: bold;
    
   
 
}

.buttonContainer {
    display: flex;
    flex-direction: row;  
    justify-content: center;
    align-items: center;
    gap: 15px;             
    margin-top: 20px;
    flex-wrap: wrap;     
}


.button {
    margin-top: 20px;
    background-color: #ffc3c3;
    border: 3px solid #d98687;
    border-radius: 8px;
    box-shadow: 34 10px 10px rgba(0, 0, 0, 0.1);
    color: #703333;
    display: flex;
    font-size: 24px;
    padding: 10px 20px;
    font-family: "Georgia", serif;
    font-weight: bold;
    }

.button:hover {
    background-color: #8fb583;
    border: 3px solid #3f4e3a;
    color: #3f4e3a;;
}

.resizeInput {
    max-width: 50vw;
    height: auto;
   /*  width:100%; */
    padding: 12px 20px;
    margin: 5px 0;
     box-sizing: border-box; 
    border: 2px solid #9a5e5e;
    border-radius: 4px;
    background-color: #f39898;
    font-size: 16px;
    resize: both;
    overflow: auto;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* top-left */
  width: 100%;
}

.field label {
  margin-bottom: 4px;
}