.galleryContainer {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    
} 


.imageButton {
    width: auto;
    height: 170px; 
    background-color: transparent;
    border: 3px solid transparent;
    border-radius: 8px;
    
    }
    
.image { 
    cursor: pointer;
    height: 180px;       
    width: auto;        
    object-fit: cover; 
     
    background-color: #ffc3c3;
    border: 5px solid #d98687;
    border-radius: 8px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    color: #703333;
    display: flex;
    font-size: 24px;

    }

.imageButton:hover {
    transform: scale(1.2);

}



/* .enhancedImage {
    position: absolute;
    width: auto;
    height: auto;
    background-color: #00000072;
   
    
    } */