.galleryContainer {
    display: flex;
    flex-direction: row;  
    justify-content: center;
    align-items: center;
    gap: 15px;            
    margin-top: 20px;
      
    
     display: flex;
    justify-content: center;
    align-items: flex-start;

    flex-direction: row;
    flex-wrap: wrap;  
    align-self: center;
}

.imageButton {
    width: auto;
    height: auto;
    background-color: transparent;
    border: 3px solid transparent;
    border-radius: 8px;
  
    color: #703333;
    display: flex;
    font-size: 24px;
   
    
    }
.image {
    margin-top: 20px;
    cursor: pointer;
    width: auto;
    height: 220%px;
    background-color: #ffc3c3;
    border: 3px solid #d98687;
    border-radius: 8px;
    box-shadow: 34 10px 10px rgba(0, 0, 0, 0.1);
    color: #703333;
    display: flex;
    font-size: 24px;
   
    
    }

.image:hover {
    transform: scale(1.5);
    background-color: #8fb583;
    border: 3px solid #3f4e3a;
    color: #3f4e3a;
}

/* .enhancedImage {
    position: absolute;
    width: auto;
    height: auto;
    background-color: #00000072;
   
    
    } */