.header {
  position: fixed;
  width: 100%;
  /* height: 80px; */
  background-color: #deeac8; 
  padding: 20px;
  border: 3px solid #b3c393;
  text-align: center;
  z-index: 800;
  
 
  

}

.login {
  position: absolute;
  top: 20px;
  right: 20px;
   z-index: 801;
   border: #c2638b;
   border-radius: 100%;
}

.links a:hover {
  color: #c2638b;
}
/* box-shadow: 34 10px 10px rgba(0, 0, 0, 0.1); 
#f4e9d0
#b29d7f;

berry text #8b4a62
beryy text hover #c2638b

green version 
  background-color: #c2da92; 
  padding: 20px;
  border: 3px solid #899a67;*/

.links a {
  color: #69764d; 
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
  margin: 0 10px;
  cursor: pointer;
}

.links a:hover {
  color: #c2638b;
}

