.header {
  background-color: #f4e9d0; 
  padding: 20px;
  border: 3px solid #b29d7f;
  text-align: center;
  font-family: "Georgia", serif;
  margin: 15px;
  border-radius: 14px;
  box-shadow: 34 10px 10px rgba(0, 0, 0, 0.1);

}

.links a {
  color: #8b4a62; 
  text-decoration: none;
  font-weight: bold;
  margin: 0 8px;
}

.links a:hover {
  color: #c2638b;
}

