
.notesList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
/*   align-items: flex-start; */

  /* margin: 10px; */
  
}

.noteCard{
    margin: 10px;
     height: auto; 
     width: 100%;
    /* max-width: 91.5%;   
        
    min-width: 45%;   */     
    background-color: #ffc3c3;
    border: 3px solid #d98687;
    border-radius: 8px;
   /*  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1); */
    color: #8b4a62;
    padding: 10;
  
    font-size: 24px;
    font-weight: bold;

}
/* 
@media (width > 768px) {
  .notesContainer {
    flex-direction: row;
  }
}
 */

.contentBox{
    margin-top: 10px;
   
    height: auto;      
    width: auto;    
    background-color: #ffdfdf;
    border: 3px solid #d98687;
    border-radius: 8px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    color: #8b4a62;
    padding: 10;
  
    font-size: 24px;
    font-weight: bold;

}