.tvWrapper {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: auto;

    aspect-ratio: 16 / 9;    
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: row;

    align-self: center;
}

.frame {
    position: relative;
    width: 100%;
    height: auto; 
    z-index: 2;
    pointer-events: none; 
}

.screen {
    position: absolute;
    top: 9%;         
    left: 5%;
    height: 75%;
    width: 67%;
    z-index: 1;
}
.buttonContainer {
    display: flex;
    flex-direction: row;   
    justify-content: center;
    align-items: center;
    gap: 15px;            
    margin-top: 20px;
    flex-wrap: wrap;      
}


.button {
    margin-top: 20px;
    cursor: pointer;
    background-color: #ffc3c3;
    border: 3px solid #d98687;
    border-radius: 8px;
    box-shadow: 34 10px 10px rgba(0, 0, 0, 0.1);
    color: #703333;
    display: flex;
    font-size: 24px;
    padding: 10px 20px;
    font-family: "Georgia", serif;
    font-weight: bold;
    }

.button:hover {
    background-color: #8fb583;
    border: 3px solid #3f4e3a;
    color: #3f4e3a;;
}

