.box {
  width: 80%;
  margin: 40px auto;
  background-color: #fff9f5;
  border: 4px solid #d6b792;
  padding: 30px;

  border-radius: 14px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  color: #5a3e36;

}
.box p {
  font-family: "Georgia", serif;
  color: #5a3e36;
  line-height: 1.6;
}

